/* main.css */
* {
  box-sizing: border-box;
}

:root{
  --navigation-size: 25vw;
}

body{
  background-color: black;
  font-family: "Monsterrat", Arial, Helvetica, sans-serif;
  text-align: center;
}

table, th, td {
    border: 1px solid black;
}

h2{
  font-size: 3vw;
  margin-block: .4em;
}

h3{
  font-size: 2vw;
  margin-block: .4em;
}

@font-face {
  font-family: "Monsterrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Monsterrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Monsterrat";
  font-style: bold;
  font-weight: 400;
  src: url("../fonts/Monsterrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Monsterrat";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Monsterrat/Montserrat-LightItalic.ttf") format("truetype");
}

/****** header ******/
header {
  background-image: url("../images/bg_header.jpg");
  background-position: center;
  background-attachment: fixed;
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

header h1{
  font-size: 5vw;
}

header nav{
  font-size: 2vw;
}

.nav-container{
  display: flex;
  width: var(--navigation-size);
  justify-content: space-evenly;
}

/****** main content ******/
/*** section defs ***/
.grey-section{
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 15vw;
  margin: 5px;
  min-height: 100vh;
}

.grey-section ul{
  text-align: center;
  list-style: inside;
}

.grey-section ul li{
  margin: 5px;
}

.white-section{
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 15vw;
  margin: 5px;
  min-height: 100vh;
}

.white-section table{
  width: 50vm;
}

.white-section ul{
  text-align: left;
}

a:link { color: white; }
a:visited { color: rgb(219, 219, 219); }
a:visited:hover { color: orange; }
a:hover { color: orange; }

/****** footer ******/
footer {
  font-size: small;
  margin: 5px;
  background-color: white;
}

@media (max-width:640px) { /*portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones*/ 

} 
@media (max-width:960px) { /*tablet, landscape iPad, lo-res laptops ands desktops*/
  
}