/* main.css */
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }

body{
  background-color: black;
  font-family: "Monsterrat", Arial, Helvetica, sans-serif;
  text-align: center;
}
table, th, td {
    border: 1px solid black;
}
@font-face {
  font-family: "Monsterrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Monsterrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Monsterrat";
  font-style: bold;
  font-weight: 400;
  src: url("../fonts/Monsterrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Monsterrat";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Monsterrat/Montserrat-LightItalic.ttf") format("truetype");
}

/****** header ******/
header {
  background-image: url("../images/bg_header.jpg");
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
  margin: 5px;
  height: 100vh;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

header h1 {
  font-size: xx-large;
}

/****** main content ******/
/*** section defs ***/
.grey-section{
  background-color: lightgrey;
  padding: 20px;
  margin: 5px;
  height: 100vh;
}

.white-section{
  background-color: white;
  padding: 20px;
  margin: 5px;
  height: 100vh;
}

ul li {
  margin: 5px;
  text-align: left;
}

a:link { color: white; }
a:visited { color: rgb(219, 219, 219); }
a:visited:hover { color: orange; }
a:hover { color: orange; }

/****** footer ******/
footer {
  font-size: small;
  margin: 5px;
  background-color: white;
}